.ui.container {
    width: 100%;
}

.ui.breadcrumb {
    margin-left: 3em;
}

.ui.accordion {
    margin-top: 3em;
}

.precio {
    text-align: center;
    font-weight: bold;
}

div.image {
    text-align: center;
}

.ui.card div.content {
    padding: 0;
}

.ui.card div.content .header, .ui.card div.content .meta {
    padding: 0em 1em;
}

.ui.card div.content .header {
    padding-top: .5em;
}

.ui.small.image img {
    max-height: 150px;
}